.medium{
    height: 36px;
    font-weight: 700;
    font-size: 1.6rem;
    min-width: 100px;
    display: block;
    text-align: center;
    border: 1px solid transparent;

    + .medium{
        margin-left: 16px;
    }

    :hover{
        cursor: pointer;
    }
}

.rounded{
    font-weight: 700;
    font-size: 14px;
    border-radius: 52px;
    padding: 8px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    color: var(--gray-text-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.small {
    min-width: 88px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.disabled {
    user-select: none;
    opacity: 0.5;
    pointer-events: none;
}

.uploadBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--bold-gray-color);
    background-color: var(--white-color);
    color: var(--black--color);
    font-weight: 500 !important;

    &:hover{
        background-color: var(--gray-color-hover);
    }
}

.loginBtn{
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--primary-color);

    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}

.settingBtn{
    background-color: var(--white-color);
    font-size: 2rem;
    width: 4px;
    margin-left: 20px;
    margin-right: 4px;
}

