@font-face {
    font-family: 'Proxima Nova';
    src: url('./Proxima\ Nova\ Font.otf') format('truetype');
    /* Replace the file path and format with the actual font file name and format you uploaded */
    font-weight: normal;
    font-style: normal;
}
