@import 'normalize.css';
:root {
    --primary-color: #fe2c55;
    --black-color: rgba(22, 24, 35, 1);
    --weak-black-color: #51535b;
    --gray-color: #f1f1f2;
    --bold-gray-color: rgba(22, 24, 35, 0.12);
    --text-gray-color: #a1a2a7;
    --white-color: rgba(255, 255, 255, 1);
    --aqua-color: rgb(32, 213, 236);
    --gray-color-hover: rgba(22, 24, 35, 0.03);
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

// @font-face {
//     font-family: ProximaNova;
//     font-size: 1.6rem;
//     src: url('/assets/fonts/Proxima Nova Font.otf');
// }

@font-face {
    font-family: ProximaNova;
    font-size: 1.6rem;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    font-size: 1.6rem;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    font-size: 1.6rem;
    src: url('/assets/fonts/sofiapro-medium.woff2');
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input {
    border: none;
    outline: none;
}

button {
    &:hover {
        cursor: pointer;
    }
}

a[href] {
    text-decoration: none;
    color: var(--black-color);
}
