.action-menu-list {
    margin-top: 8px;
    width: 223px;
    border-radius: none;
    font-size: 1.4rem;
    color: black;

    .separate {
        border-top: 1px solid var(--bold-gray-color);
    }

    .action-menu-list-wrapper {
        padding: 8px 0;
        border-radius: 4px;
        line-height: 1.4rem;
    }
}

.menu-scroll{
    max-height: 330px;
    overflow-y: overlay;

}

.settingBtn {
    background-color: var(--white-color);
    font-size: 2rem;
    width: 4px;
    margin-left: 20px;
    margin-right: 4px;
    height: 32px;
}

.action-menu-items {
    line-height: 1.4rem;
    width: 100%;
    padding: 10px 0;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    color: var(--black-color);
    background-color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;

    .action-menu-icons{
        font-size: 1.8rem;
    }
    
    &:hover {
        background-color: var(--gray-color-hover);
        cursor: default;
    }
}

//Language Menu
.language-menu {
    color: black;
}

.language-menu-header {
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 600;

    span {
        cursor: default;
    }
}

.back-icon {
    width: 68px;
    height: 15px;
    background-color: var(--white-color);
    &:hover {
        cursor: pointer;
    }
}

.button-content {
    margin-left: 16px;
}
