.wrapper {
    color: var(--black-color);
    padding: 9px 16px;
    display: flex;
    align-items: center;

    div {
        margin: 0 4px;
    }

    &:hover {
        background-color: red;
        cursor: pointer;
        background-color: var(--bold-gray-color);
    }
}

.avatar {
    height: 40px;
    width: 40px;
    img {

        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.info {
    margin-left: 12px !important;
}

.info-title {
    font-size: 16px;
    font-weight: 900;

}

.icon{
    color: var(--aqua-color);
    font-size: 1.4rem;
    margin: 0 4px;
}

.info-note {
    color: var(--text-gray-color);
}
