.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 100%;
    // width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px;
    border-bottom: 2px solid var(--gray-color);
}

.logo {
    display: flex;
}

.action {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-buttons {
        display: flex;
        align-items: center;
        margin-left: 20px;
        background-color: var(--white-color);
    }
}


.setting-result {
    width: 223px;
    border-radius: none;
    font-size: 1.4rem;
    color: black;
}

.settingBtn {
    background-color: var(--white-color);
    font-size: 2rem;
    width: 4px;
    margin-left: 20px;
    margin-right: 4px;
    height: 32px;
}

.userAvatar {
    width: 32px;
    img {
        border-radius: 50%;
        width: 100%;
    }
}
